.formm {
    margin-top: 80px;
    width: 40%;
    background-color: rgb(21, 115, 71);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: #777;
    margin-left: 450px;
}

.form {
    margin-top: 50px;
    width: 40%;
    background-color: #f8f9fa;;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
    color: #777;
    visibility:visible
}

.error {
    color: red;
}